pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}
.header-name{
	font-size:4rem;
	color:#fff343;
	padding: 0px;
	margin-top: 4rem;
	margin-bottom: 0px;
}
.navigation{
	font-size:2.5rem;
	color: lemonchiffon;
	margin-top: 0px;
}
.navigation > a{
	color:lemonchiffon;
}
.navigation :not(a:first-child){
	margin-left:1rem;
}
ul, ol, dl {
	font-family: inherit;
	font-size: 1rem;
	line-height: 1.6;
	list-style-position: outside;
}
h1{
	color:#fffff1;
}
body{
	background: #0f0f0f;
	color: #f1e1ee;
	font-family: Poppins,sans-serif;
	cursor:auto;
	margin-left:4rem;
}
code{	
	background-color: #333;
	color: #fff;
	font-family: Consolas,"Liberation Mono",Courier,monospace;
	font-weight: normal;
	padding: 0.125rem 0.3125rem 0.0625rem;

}
pre {
	background-color: transparent;
	border: 0;
	padding: 0;
}
a:hover, a:focus{
	background-clip:text;
	background: linear-gradient(107deg, #008cba, #29e1da, #65ee18, #ebfb0b);
	background-size: 800% 800%;
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
	-webkit-animation: wow-link 6s ease infinite;
	-moz-animation: wow-link 6s ease infinite;
	-o-animation: wow-link 6s ease infinite;
	animation: wow-link 6s ease infinite;
}

@-webkit-keyframes wow-link {
	0%{background-position:0% 50%}
	50%{background-position:100% 51%}
	100%{background-position:0% 50%}
}
@-moz-keyframes wow-link {
	0%{background-position:0% 50%}
	50%{background-position:100% 51%}
	100%{background-position:0% 50%}
}
@-o-keyframes wow-link {
	0%{background-position:0% 50%}
	50%{background-position:100% 51%}
	100%{background-position:0% 50%}
}
@keyframes wow-link {
	0%{background-position:0% 50%}
	50%{background-position:100% 51%}
	100%{background-position:0% 50%}
}
a:hover {
	cursor: pointer;
}
a {
	color: #008CBA;
	line-height: inherit;
	text-decoration: none;
}
